@{
    ViewBag.Title = "Home Page";
}
@section breadcrumbTitle{AnaSayfa} @*_Layout.cshtml de linl içinde belirttiğmiz breadcrumb'a başlık değerini atar.*@
<style>
    .navskew li a {
        width: 120px;
        height: 100px;
        display: inline-block;
        position: relative;
        transition: all 0.4s;
        color: #fff;
    }

        .navskew li a:hover {
            transform: scale(1.1, 1.1);
        }

    .skewblock1 {
        width: 240px;
        height: 200px;
        display: inline-block;
        transform: skew(-30deg, 0deg);
        background-color: #17a467;
    }
    .skewblock2 {
        width: 240px;
        height: 200px;
        display: inline-block;
        transform: skew(-30deg, 0deg);
        background-color: #ff6a00;
    }

    .navlabel {
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translate(-50%,-50%);
        font-size:25px;
        text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-3"></div>
        <div class="col-lg-3 col-md-3 col-xs-3">
            <ul class="list-inline navskew">
                <li><a href="Home/Upload"><span class="skewblock1"></span><span class="navlabel">Dosya Yükle</span></a></li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            <ul class="list-inline navskew">
                <li><a href="Home/Galeri"><span class="skewblock2"></span><span class="navlabel">Galeriyi Aç</span></a></li>
            </ul>
        </div>
    </div>
</div>